{{#sketchClass.deleted}}
<div class="alert alert-warn" style="margin-bottom:10px;">
  This sketch was created using the "{{sketchClass.name}}" template, which is
  no longer available. You will not be able to copy this sketch or make new
  sketches of this type.
</div>
{{/sketchClass.deleted}}
<div class="reportSection tableContainer">
  <h4>Urchin Patch Data<a href="#" data-toggle-node="53457ecf55b5a4645cb28c3a" data-visible="false">show habitat</a></h4>
    <p class="large">
      The table shows the square meters of suitable urchin habitat within a 5 km radius of 135 urchin patches. Suitable habitat consists of hard substrate in water depths
      of 0 - 100 m <a href="http://www.pnas.org/content/109/29/11884.full" target="_blank">(Rassweiller 2012)</a>. The third column indicates the presence (1) or absence (0) of a Marine Protected Area (MPA) within 5 km of the patch. The fourth column shows the result of modifying MPAs within SeaSketch. With an original, unmodified MPA set, the values in the fourth column will be identical to that shown in the third column.
    <p>
    <table>
      <thead>
        <tr>
          <th style="width:100px">Patch Number</th>
          <th>Hard Substrate Area (square meters)</th>
          <th>Overlaps With Existing MPA?</th>
          <th>Overlaps with New and Existing MPAs?<th>
        </tr>
      </thead>
      <tbody>
        {{#urchinAreas}}
          <tr>
            <td style="text-align:center;">{{URCH_ID}}</td>
            <td>{{SIZE}}</td>
            <td>{{ORIG_MPA}}</td>
            <td>{{NEW_MPA}}
          </tr>
        {{/urchinAreas}}
      </tbody>
    </table>
</div>